.node_modules
.next
.venv
out
build
dist
.git
.env*
.env.local
.env.development
.env.production
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
pnpm-lock.yaml
yarn.lock
.DS_Store
*.log
*.tsbuildinfo
postgres-data
pgdata
coverage
.vscode
node_modules
